@media only screen and (min-width:1025px) and (max-width:1200px) {
    #pic1 {
        width: 30em;
        height: 30em;
    }

    .companies {
        width: 60em;
    }

    .heading-secondary {
        margin-bottom: 200px;
    }

    #pic2 {
        width: 30em;
        height: 30em;
    }

    .row2 {
        padding: 0px;
    }

}