@media only screen and (min-width:1025px) and (max-width:1366px) {
    #pic1 {
        width: 40em;
        height: 40em;
    }

    .companies {
        width: 70em;
    }

    .heading-secondary {
        margin-bottom: 200px;
    }

    #pic2 {
        width: 40em;
        height: 40em;
    }

    .row2 {
        padding: 0px;
    }

}